.navbar-root {
  background-color : rgba(10, 10, 10, 0.8);
  box-shadow: none;
  border-bottom:2px solid white;

}
.navbar-button {
  min-height: 50px;
  border-radius: 0;
}
.navbar-button:hover {
  background-color: white;
  color: rgba(10, 10, 10);

}
.nav-first {
  border-right: 1px solid white;
  color: white;
}
.nav-last {
  color: white;
}
